@import url('/src/styles/global_variables.css');

.authentication-pop-up[signup] {display: none;}
.authentication-pop-up[login] {display: none;}


.authentication-pop-up {

    width: 350px;
    height: 500px;
    
    position: fixed;
    top: calc(50% - 250px);
    right: calc(50% - 175px);
    
    border-radius: 5px 5px 5px 5px;

    box-shadow: 1px 1px 2px 2px;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 1rem;

    background-color: whitesmoke;


}

.authentication-pop-up > h1 {

    font-family: var(--gasoekOne);
    font-weight: normal;
    font-size: 1.7rem;
    
    text-transform: uppercase;

    letter-spacing: 0.2rem;

}

.authentication-pop-up > button[signup] {

    height: 10%;
    width: 80%;

    border-radius: 30px 30px 30px 30px;

    font-family: var(--workSans);
    font-weight: bolder;
    font-size: 1.2rem;

    text-transform: uppercase;
    
    letter-spacing: 0.1rem;

    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    background-size: 200%;
    
    color: white;

    border: 1px black solid;

    transition: all 0.5s;

}


.authentication-pop-up > button[login] {

    height: 10%;
    width: 80%;

    border-radius: 30px 30px 30px 30px;

    font-family: var(--workSans);
    font-weight: bolder;
    font-size: 1.2rem;

    text-transform: uppercase;
    
    letter-spacing: 0.1rem;

    background-image: linear-gradient(to right, #834d9b 0%, #d04ed6  51%, #834d9b  100%);
    background-size: 200% auto;
    
    color: white;

    border: 1px black solid;

    transition: all 0.3s;
    

}

.authentication-pop-up > button:hover {
             
    background-position: right center; /* change the direction of the change here */
    
    color: #fff;
    
    text-decoration: none;
    
    cursor: pointer;

    font-size: 1.3rem;
     
}

.close_button {

    position: absolute;
    top: 0;
    right: 0;

    height: 50px;
    width: 50px;

    margin: 0.8rem;

    border: 0px black solid;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.close_button:hover {

    cursor: pointer;

}

.close_button > img {

    content: url('/assets/icons/close.png');

}


.form-authentication {

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

}

.form-authentication > * {

    margin: 0.8rem;

}

.form-authentication > input { 
    outline: none;
    
    border: none;
    border-bottom: 2px gray solid;
    
    background-color: transparent;
    
    padding: 0.5rem;

    font-size: 0.9rem;
}

.form-authentication > input::placeholder { 

    text-transform: uppercase;

    letter-spacing: 0.2rem;

}

.ratingContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}

.ratingContainer > img {

    content: url('/assets/icons/star.png');

    width: 30px;
    height: 30px;

}

.ratingContainer > img:hover {

    cursor: pointer;

}

#updateInput {

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 2rem;
    margin: 1rem;

    width: 46.25vw; /* 600px */
    height: 70vh; /*650px*/

    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 100;

    background-color: white;

}


#updateInput > input,  #updateInput > div[pageCountDivider], #updateInput > select {

    height: 10%;
    width: 90%;

    padding: 0.2rem;

}

#updateInput > h1 {

    font-family: var(--bebasNeue);
    font-size: 3rem;
    white-space: nowrap;
    text-align: center;

    margin: 0.5rem;

}

#updateInput > div[pageCountDivider] {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;


}

#updateInput > div[pageCountDivider] > input {

    width: 40%;
    height: 100%;

}

#updateInput select {

    border-radius: 0 0 0 0;
    border: none;

}

#updateInput input {

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 3px;

    padding: 0.2rem;


    transition: padding 0.1s ease-in, font-size 1s;

}

#updateInput input::placeholder {

    font-size: 0.8rem;

    text-transform: uppercase;

    letter-spacing: 0.1rem;

    font-family: var(--workSans);

}

#updateInput input:focus {

    padding: 0.5rem;

    font-size: 1rem;

}

#updateInput > button {

    height: 10%;
    width: 50%;
    
    color: white;

    font-family: var(--workSans);
    font-size: 1.3rem;
    font-weight: bolder;

    text-transform: uppercase;

    letter-spacing: 0.1rem;

    outline: none;
    border: none;

    border-radius: 100px 100px 100px 100px;

    background-image: linear-gradient(to right, #00bf8f 0%, #001510  51%, #00bf8f  100%);
    background-size: 200% auto;

    transition: all 0.3s;

}

#updateInput > button:hover {

    background-position: right center; /* change the direction of the change here */

}